<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>show person</title>
</head>

<body>
<p th:text="${'Person- ' + personModel.getName() + ', ' + personModel.getAge() + ' age'}">VALUE</p>
<p th:text="${'Email- ' + personModel.getEmail()}">VALUE</p>
<p th:text="${'Id- ' + personModel.getId()}">VALUE</p>
<br>
<a th:href="@{/people/{id}/edit(id=${personModel.getId()})}">Edit</a>
<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${personModel.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>